@model TeamContributionAndBudgetSystemWebApp.Models.Year

@{
   ViewBag.Title = "Details";
}

<body>
   <div>
      <h4>@Html.DisplayNameFor( model => model.YearValue ) Details</h4>
      <hr />
      <dl class="dl-horizontal">
         <dt>
            @Html.DisplayNameFor( model => model.YearValue )
         </dt>

         <dd>
            @Html.DisplayFor( model => model.YearValue )
         </dd>

      </dl>
   </div>
   <p>
      @Html.ActionLink( "Back to List", "Index" )
   </p>
