@{
    ViewBag.Title = "Forbidden";
}
<h2>You Shall Not Pass</h2>
<p>If you have found yourself here then one of three possible things has happened.</p>
<ul>
    <li>You were being adventurous and exploring the sote.</li>
    <li>Some sort of error occured.</li>
    <li>You do not have permission to access something which you tried to access (most likely).</li>
</ul>
